








.menu_link {
    text-decoration: none; /* Видаляє синю лінію під текстовими посиланнями */
   
}


.menu_button {
 margin-right: 25px; /* Збільшено відступ між кнопками */

}

.menu{
    
    width: 100vw;
    height: 7vh;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Вирівнювання вправо */
    padding-right: 20px; /* Додано відступ справа */
    
}
.filter{
    width: 260px;
    height: 800px;
   
    margin-right: 20px;
  
    
    left: 25px;
  border: 2px solid black;
    }
    .texts{
width: 150px;
height: 30px;
border-radius: 4px;


    }
    .form-label{
width: 250px;



    }
    .tovar{
    width: 80vw;
    min-height: 400vh;
    background-color: rgb(255, 254, 254);
    float: right;
    margin-right: 50px;

    
    
    
    }
    .profile{
width: 60%;
margin: 0px auto;
background-color: rgb(154, 148, 148);
height: 750px;



    }
    .custom-line {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .dash {
        flex-grow: 1;
        height: 1px;
        background-color: rgb(255, 255, 255);
        margin: 0 10px;
    }
    .photo_google{
height: 4vh;
width: 2vw;


    }


    .tovari {
        width: 82vw;
        border: 2px solid yellow;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        float: right;
       
      }
      
      .tovar {
        flex: 0 0 calc(33.33% - 20px);
        border: 2px solid black;
        max-width: 275px;
        min-height: 300px;
        
        margin-bottom: 5px;
        box-sizing: border-box; /* Додано, щоб ширина і висота включали рамку та відступи */
       
      }
      
      .tovar:hover .kyrtkas {
        transform: scale(0.8);
        
      }
      
      .kyrtkas:active {
        transform: scale(0.9);
       
      }
      
      .tovar_info {
        border: 2px solid black;
        
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-height: 550px;
      }
      
      .kyrtkas {
        
        max-width: 100%;
        transition: transform 0.1s ease-in-out;
      }
      
      .tovar_keput:hover {
        
        color: rgb(0, 0, 0);
      }
      
      .tovar_keput:active {
       
        transform: scale(0.9);
      }
      
      .tovar_keput {
       
        position: relative;
        display: inline-block;
        margin: 15px;
        padding: 15px 30px;
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #d2d1d1;
        background: transparent;
        cursor: pointer;
        transition: ease-out 0.5s;
        border: 0px white;
      }
      #spa{
display: flex;
justify-content: space-between;

      }
      
      
      
    