.card{
    width: 18rem;
    height: 200px;
    margin: 20px;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards-num{
    width: 200px;
}
.d-flex{
    flex-wrap: wrap;
}
.anim-card{
    color: red;
    border: 2px dashed red;
    animation: wave 2s ease 0s infinite alternate;
}
@keyframes wave{
    50%{
        transform: rotateZ(30deg);
    }
    100%{
        transform: rotateZ(-30deg);
    }
}
.active{
background-color: blue;
color: white;

}

